<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 TRANSITIONAL//EN">
<HTML>
<HEAD>
<TITLE>[ nemo hackers ]</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1" CHARSET="iso-8859-1">
<META NAME="keywords" CONTENT=
"newbie, newbies, newbiesplace, newbiezplace, learn to hack, how to hack, how do i hack,hack hotmail, hacking hotmail, hack yahoo, hacking yahoo, hacking tools, hacking programs, hacking site, newby, newbeisplace, newbeizplace,">
<META NAME="description" CONTENT="NewbiezPlace.com - Where newbies come to learn the art of hacking. This site is a vast resource for hacking methodology and toolz">
<META NAME="robots" CONTENT="FOLLOW,INDEX">

<LINK REL=stylesheet TYPE="text/css" HREF="http://64.255.193.179/~nemo/style.css" TITLE="syle">
<script>
function NoError() {
return(true);
} 
onerror=NoError; 
</script>
</HEAD>
<BODY BACKGROUND="http://64.255.193.179/~nemo/images/back1.gif" ALINK="#ccff00" BGCOLOR="#121212" LINK="#a7b5c6" TEXT="#DDDDDD" VLINK="#828fb0">

<BR>
<CENTER>
<!--------top------------->
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=750 HEIGHT=5>
<TR BGCOLOR="#024070" HEIGHT=5>
<TD HEIGHT=5><!---links here ---->
<CENTER>
<A HREF="http://www.boxnetwork.net/"><B>
<SPAN CLASS=small><FONT COLOR="#ffffff" FACE="Verdana">Recommended</FONT></SPAN></B></A> 
<SPAN CLASS=small><B><FONT COLOR=#ffffff FACE="Verdana"> </FONT>
<FONT FACE="Verdana">
<A HREF="http://www.elitehackers.com"> elitehackers</A> - <A HREF="http://www.box.sk"> box.sk</A> 
- <A HREF="http://www.programmersheaven.com"> programmersheaven</A>
- <A HREF="http://www.hbiwarez.com"> hbiwarez</A>
- <A HREF="http://www.linuxdocs.com"> linuxdocs</A>
- <A HREF="http://www.napster.com"> napster</A>
- <A HREF="http://www.freshmeat.net"> freshmeat </A>
</FONT></B></SPAN></CENTER></TD></TR></TABLE>


<TABLE BGCOLOR=#000000 BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=750><TR>
<TD WIDTH="508"><img src="http://64.255.193.179/~nemo/images/logo.jpg" WIDTH="506" HEIGHT="71"></TD>
<TD WIDTH="30" VALIGN="top"><DIV ALING="right"><img src="http://64.255.193.179/~nemo/images/flame.gif" BORDER="0"></DIV>
</TD>

<TD WIDTH="120" VALIGN="top"><CENTER><BR>
<B CLASS="my">
<A  HREF="javascript:window.external.addFavorite('http://www.nemohackers.com/','[[ Nemohackers ]]')">Bookmark site</A>
<BR>
<A HREF="http://www.nemohackers.com/" 
ONCLICK="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.nemohackers.com/');">
Make Homepage</A>
<BR>


</CENTER>
</TD>

<TD WIDTH="30" VALIGN="top">
<DIV ALING="left"><img src="http://64.255.193.179/~nemo/images/flame.gif" BORDER="0"></DIV>
</TD></TR></TABLE>



<TABLE BGCOLOR=#000000 BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=750 HEIGHT=2>
<TR BGCOLOR="#024070" HEIGHT=2><TD BGCOLOR="#024070" HEIGHT=2></TD></TR></TABLE> 

<TABLE BGCOLOR=#000000 BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=750><TR><TD>
<FONT CLASS="upper" COLOR="#cdcddc" FACE="Verdana" SIZE="1"><B>
&nbsp;&nbsp;Knowledge and Infomation will set you free<BR>


<TABLE BGCOLOR="#000000" BORDER="0" CELLPADDING="5" CELLSPACING="0" WIDTH="750"><TR>
<!------------eend left column--------------->
<!------------rright column--------------->
<TD BGCOLOR="#000000" VALIGN="top">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR VALIGN="top"><TD BGCOLOR="#000000">
<!------------------11111111111111111111111111------------------>
<TABLE BGCOLOR="#1c1f22" BORDER="0" CELLPADDING="0" CELLSPACING="1" WIDTH="100%">
<TR BGCOLOR="#515468">
<TD BGCOLOR="#024070">
<CENTER CLASS="small_uppercase"><SPAN CLASS="small"><FONT COLOR="#80899f" FACE="Arial"><B>.</B></FONT>
<B><FONT COLOR="#b1b6c5" FACE="Arial">:</FONT> <FONT FACE="Arial"><FONT COLOR="#ffffff">: S
<FONT COLOR="#b1b6c5">·</FONT> E <FONT COLOR="#b1b6c5">·</FONT> A <FONT COLOR="#b1b6c5">·</FONT> R 
<FONT COLOR="#b1b6c5">·</FONT> C</FONT> <FONT COLOR="#b1b6c5">·</FONT> H </FONT><FONT COLOR="#ffffff">:</FONT>
<FONT COLOR="#b1b6c5">: <FONT COLOR="#80899f">.</FONT></FONT></FONT></B></SPAN></CENTER>
</TD>
</TR>

<TR BGCOLOR="#24252f"><TD>
<TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0" WIDTH="100%">
<TR CLASS="small"><TD BGCOLOR="#1C1F22"><FONT FACE="Verdana">

<br>



<!----- it all starts here ----------->




<CENTER>
<a name="top"></a>

<!-------------- matches time taken etc---------->
<table border="0" cellpadding="5" cellspacing="0" bgcolor="#024070" width="95%" align="center">
<td width="100%">
<FONT COLOR="#ffff00" FACE="Verdana" size="1">
<!--cgi: header-->
<!--cgi: subheader-->
<!--cgi: searchtime--></td>
<td valign=top align=right nowrap><b>
<FONT COLOR="#ededed" FACE="Verdana" size="1">
<!--cgi: form_link--> &nbsp; 
<!--cgi: tips-->
</b></td></table>
<br>
<!--------------end matches time taken etc---------->



<!--------------------results------------------>
<center>
<table width="95%" cellpadding="5" cellspacing="0" border="0" align="center"><td> 
<table cellpadding="0" cellspacing="0" border="0" align="center"><td>
<FONT COLOR="#ff0000" FACE="Verdana" size="1"><!--cgi: previous-->
<FONT COLOR="#ff0000" FACE="Verdana" size="1"><!--cgi: navbar-->
<FONT COLOR="#ff0000" FACE="Verdana" size="1"><!--cgi: next-->
</td></table></td></table>
</center>
<center>
<br>
<FONT COLOR="#ededed" FACE="Verdana" size="1">
<!--cgi: help-->
<table width="95%" border="0" align="center"><td>
<FONT COLOR="#ff0000" FACE="Verdana" size="2"><!--loop: results--></font><dl><b>
<FONT COLOR="#ededed" FACE="Verdana" size="1"><!--item: rank-->.</font> &nbsp; <a href="<!--item: url-->">
<FONT COLOR="#ededed" FACE="Verdana" size="1"><!--item: title--></a></b>
<ul><dt>
<FONT COLOR="#ededed" FACE="Verdana" size="1"><!--item: description--><font>
<SPAN CLASS=small>
<a href="<!--item: url-->" color="ffff00"><!--item: display_url--></a><br>
<FONT COLOR="#ffff00" FACE="Verdana" size="1">
<!--item: scoreA--> &nbsp; 
<!--item: scoreB--> &nbsp; 
<!--item: scoreC--> &nbsp; 
<!--item: scoreD--></font>
</dt></ul></dl>
<FONT COLOR="#ededed" FACE="Verdana" size="1"><!--end: results--></td></table>
<br><center><br>
<table border="0" cellpadding="5" cellspacing="0" bgcolor="#024070" width="95%" align="center">
<tr><td align="center">
<FONT COLOR="#ffff00" FACE="Verdana" size="1" <!--cgi: results--> &nbsp; &nbsp; Page <b>
<!--cgi: current_page--></b> of <b>

<FONT COLOR="#ffff00" FACE="Verdana" size="1">
<!--cgi: total_pages--></b>&nbsp;&nbsp; 
<a href="http://www.nemohackers.com"><FONT COLOR="#ffff00" FACE="Verdana" size="1">Nemohackers.com</a> Search Results
</td></tr></table>
<table width="95%" border="0" cellpadding="5" cellspacing="0">
<td align="right"><font size="1"><a href="#top"><b>Back to top</b></a></font></td>
</table>
<br>
<br>

<!-------------------end search results------------------->






<!-----------RESEARCH------------>
<table border="0" cellpadding="5" cellspacing="0" bgcolor="#024070" width="95%" align="center">
<td width="100%"><b><FONT COLOR="#ededed" FACE="Verdana" size="1">Search again</b></td>
<td valign=top align=right nowrap><b><FONT COLOR="#ededed" FACE="Verdana" size="1">Search again</b>
</td></table><br><br><center>
<a name="form"><table cellpadding="10" cellspacing="0" border="1"><td align="center">
<form action="<!--cgi: search_url-->" method="get" name="search">
<input type="text" size=35 name="<!--cgi: input_name-->" value="<!--cgi: query_str-->" onFocus="select(this);">&nbsp; 
<INPUT type="submit" value="Search"><b>
<FONT COLOR="#ffff00" FACE="Verdana" size="1">
<!--cgi: add_plus--> &nbsp; 
<!--cgi: tips--></b>
<table border="0" cellpadding="1" cellspacing="0">
<tr><td valign=top>
<table border="0" cellpadding="1" cellspacing="0">
<tr><td align=left><FONT COLOR="#eeeeee" FACE="Verdana" size="1"><!--cgi: subsearch--></td>
<tr><td align=left><FONT COLOR="#eeeeee" FACE="Verdana" size="1"><!--cgi: c--></td>
<tr><td align=left><FONT COLOR="#eeeeee" FACE="Verdana" size="1"><!--cgi: w--></td>
<tr><td align=left><FONT COLOR="#eeeeee" FACE="Verdana" size="1"><!--cgi: st--></td>
</table></td>
<td valign=top>
<table border="0" cellpadding="3" cellspacing="0">
<tr><td valign="top" align="left">
Sort by <select name="sort">
<FONT COLOR="#ededed" FACE="Verdana" size="1"><!--cgi: sort--></select>
</td>
<tr><td valign="top" align="left">
Display <select name="display">
<FONT COLOR="#ededed" FACE="Verdana" size="1"><!--cgi: display--></select>
</td>
</table>
</td>
<tr><td align="left" colspan="2"><br><b>Search Content</b></td>
<tr><td align="left" colspan="2">
<FONT COLOR="#ededed" FACE="Verdana" size="1"><!--cgi: b-->
<!--cgi: t-->
<!--cgi: u-->
<!--cgi: alt-->
<!--cgi: l-->
<!--cgi: default-->
</td>
<tr><td align="left" colspan="2">
<FONT COLOR="#ededed" FACE="Verdana" size="1">
<!--cgi: d-->
<!--cgi: k-->
<!--cgi: au-->
</td></table></td></table>
</center>
<!--------------end research------------->


<br>
<br>



<!----------------copyright------------->
<table border="0" cellpadding="5" cellspacing="0" bgcolor="#024070" width="95%" align="center">
<tr><td align="center"><FONT COLOR="#ffff00" FACE="Verdana" size="1">
Nemohackers.com  &copy; Copyright 2001, All rights reserved
</td></tr>
</table>
<!------------end---copyright------------>



<br>
<br>


<!----------other varibles-------dont touch--------->
</body>
</html>
<FONT COLOR="#ededed" FACE="Verdana" size="1">
##USAGE## Added to page		Descriptions (*required items) 
##USAGE## <!--cgi: header-->		*Search results header
##USAGE## <!--cgi: subheader-->		Additional results information (+boolean term not found etc.)
##USAGE## <!--cgi: searchtime-->	CPU time taken for search process
##USAGE## <!--cgi: previous-->		Previous results pages link
##USAGE## <!--cgi: navbar-->		*Results pages links
##USAGE## <!--cgi: next-->		Next results pages link
##USAGE## <!--cgi: help-->		Search Tips if requested (Must add this if you use <!--cgi: tips-->). The search title and results title also goes here
##USAGE## <!--cgi: form_link-->		Internal Link to Search Form	(must have <a name="form"> link above form)
##USAGE## <!--loop: results-->		*Start of results loop
##USAGE## <!--item: rank-->		*Result number
##USAGE## <!--item: url-->		*Result url	(for links to results pages)
##USAGE## <!--item: display_url-->	*Result url	(for displayed urls that have highlighted terms)
##USAGE## <!--item: title-->		*Result title
##USAGE## <!--item: description-->	Result description
##USAGE## <!--item: scoreA-->		*Matches, Score, Modification date, or File size (depends on sorting choice)
##USAGE## <!--item: scoreB-->					""
##USAGE## <!--item: scoreC-->					""
##USAGE## <!--item: scoreD-->					""
##USAGE## <!--end: results-->		*End of results loop
##USAGE## <!--cgi: search_url-->	Url of search script for the search form
##USAGE## <!--cgi: input_name-->	Input name for the search form text field
##USAGE## <!--cgi: query_str-->		(previous) search query string for the search form text field
##USAGE## <!--cgi: tips-->		'Tips' link when results are displayed and 'Back' link to previous page on Tips page (Must use <!--cgi: help-->)
##USAGE## <!--cgi: results-->		Results shown on the page (example: Results 1-5 of 10)
##USAGE## <!--cgi: current_page-->	Current page number
##USAGE## <!--cgi: total_pages-->	Total number of pages

##USAGE## form menu options
##USAGE## <!--cgi: add_plus-->	Option to add + to all non +/- boolean search terms/phrases (checkbox)
##USAGE## <!--cgi: subsearch-->	Option for searching within results (checkbox)
##USAGE## <!--cgi: c-->		Option for case sensitive search (checkbox)
##USAGE## <!--cgi: w-->		Option for searching whole words only (checkbox)
##USAGE## <!--cgi: st-->	Option to include stop-terms and terms shorter than minimum length (checkbox)
##USAGE## <!--cgi: b-->		Option to search body (checkbox; default)
##USAGE## <!--cgi: t-->		Option to search titles (checkbox; default)
##USAGE## <!--cgi: d-->		Option to search meta descriptions (checkbox; default)
##USAGE## <!--cgi: k-->		Option to search meta keywords (checkbox)
##USAGE## <!--cgi: au-->	Option to search meta authors (checkbox)
##USAGE## <!--cgi: alt-->	Option to search alt text (checkbox)
##USAGE## <!--cgi: l-->		Option to search links (checkbox)
##USAGE## <!--cgi: u-->		Option to search url (checkbox)
##USAGE## <!--cgi: sort-->	Pull down menu options for sorting choice
##USAGE## <!--cgi: display-->	Pull down menu options for displaying the number of results per page
##USAGE## <!--cgi: default-->	Option to restore default options.
